$spacing: 25px;

.content {
  padding: $spacing;
  font-size: 0.925rem;
  section:not(:last-child) {
    padding-bottom: calc($spacing * 2);
    border-bottom: 2px solid #777;
  }
  section:not(:first-child) {
    padding-top: calc($spacing * 2);
  }
  section {
    padding-left: $spacing;
    padding-right: $spacing;
  }
  .title {
    font-size: 1.5rem;
    margin: 0 0 15px 0;
  }
}

.image_display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  .desc_text {
    line-height: 1.75;
    color: rgba(25, 25, 25, 0.8);
  }
}

.rating {
  .title {
    margin: 0 0 15px 0;
  }
  .datum {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .datum + .datum {
    margin-top: calc($spacing / 4);
  }

  .label,
  .value {
    display: block;
  }

  .label {
    font-weight: bold;
    font-size: 1rem;
    margin-right: calc($spacing/4);
  }
}
